
h1{
    @apply pb-4;
}

a{
    @apply !border-0 hover:underline;
}

.btn {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full border-0;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:not(pre) > code:before,
:not(pre) > code:after {
  content: "";
  opacity: 0.5;
}

ol{
  list-style: auto;
}

.remember ul li::marker{

content: '✅';
/* font-size: 12px; */

}